@font-face {
	font-family: ProximaNovaBold;
	src: url(../fonts/ProximaNovaBold.otf);	
}

@font-face {
	font-family: ProximaNovaRegular;
	src: url(../fonts/ProximaNovaRegular.ttf);	
}

@font-face {
	font-family: ProximaNovaLight;
	src: url(../fonts/ProximaNovaLight.otf);	
}

@font-face {
	font-family: ProximaNovaLight;
	src: url(../fonts/ProximaNovaLight.ttf);	
}

@font-face {
	font-family: GothamProBlack;
	src: url(../fonts/GothamProBlack.otf);	
}

@font-face {
	font-family: ProximaNovaExtrabold;
	src: url(../fonts/ProximaNovaExtrabold.ttf);	
}

@font-face {
	font-family: ProximaNovaSemibold;
	src: url(../fonts/ProximaNovaSemibold.ttf);	
}
