//Общие стили @media(min-width: 768px) and (max-width: 1109px)
@media(min-width: 0px) and (max-width: 1109px)
 .container
  width: auto

 .bonus_program_desc_br_d
  display: none

 .wrap_nav_list ul,.wrap_logo_col .wrap_logo_disc,.br_none_desktop
  display: none

 .button_country_hover
  display: none!important

 .tour__sliders_wrap__slider_title
  max-width: 100%!important

 .categori_country_desc
  height: 100%
  width: 100%
  margin: 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center

 .button_country_hover
  background: none!important

 //Переделать свойство для отмены hover
 .tour_type_row ul li
  & a
   &:hover .span_border_bottom
    border-bottom: 1px solid #d0d2d4

 .tour_type_br
  display: none

 .order_a_visa_desc_br_mobile
  display: block

 .section__subscriptions .subscriptions_row,.footer__footer_row .footer_author_col
  display: none

 .categori_country_row_1
  flex-wrap: wrap

 .categori_country_row_1,.categori_country_row_2,.col_height_small,.col_height
  padding: 0

 .categori_country_row_2 .col_height_small,.country_row_2_col_2,.country_row_2_col_1,.categori_country_row_1 .col_height
  width: 100%

 .country_row_small
  height: auto

 .tour__sliders_wrap_cont,.section_slider_news .sl
  width: 100%

 .section_slider_news
  padding-bottom: 0
  margin-top: 0

 .tour_type_row
  margin: 0
  & .container_tour_type
   display: block
   width: 100%
   & .inner_tour_type
    margin: 0!important
    height: 88px
    border: 1px solid #d6e3e9
    & a
     display: flex
     align-items: center
     padding-left: 32px
     height: 100%
     & .span_border_bottom
      border-bottom: 1px solid #d0d2d4
   & .inner_tour_type:nth-child(2),.inner_tour_type:nth-child(3),.inner_tour_type:nth-child(4)
    border-top: none

 .footer
  & .footer_social_network_col,.web_studio_info
   width: 100%

 .footer .web_studio_info .author_name
  float: none

 .footer_menu_mobile
  & .footer_row
   justify-content: center


//Макет 320px (Мобильный)
@media(max-width: 767px)
 .container
  max-width: 320px

 header
  padding: 28px 20px 0
  height: auto

 .wrap_logo
  font-size: 21px

 .container_width_mobile
  width: 260px
  height: 483px
  display: flex
  align-items: center

 .container_tour_type
  position: relative
  height: 357px

 .inner_tour_type:nth-child(3)
  position: absolute
  bottom: 0
  left: 0
  right: 0

 .tour_type_row .inner_tour_type .span_container
  margin: 0 0 0 32px

 .wrap_main_title
  text-align: center
  margin-top: 0
  & .wrap_title
   line-height: 37px
   font-size: 52px
   margin-bottom: 20px
  & .wrap_disc
   font-size: 18px
   line-height: normal
   margin-bottom: 22px
  & .wrap_button
   justify-content: center
   font-size: 15px
   margin-bottom: 0
   & a
    height: 50px
    padding: 0 31px 0 30px

 .categori_country_row_main
  top: -133px
  & .categori_country_row_2
   flex-direction: column-reverse

 .categori_country_row_2 .col_height_small,.country_row_2_col_2,.country_row_2_col_1,.categori_country_row_1 .col_height
  height: 175px

 .categori_country_desc
  & .categori_country_name
   font-size: 32px
   line-height: 26px
  & .categori_country_direction
   line-height: 13px
   margin-top: 13px

 .section_slider_news
  & .slider_news_row
   margin-top: 45px
   & .sl
    margin: 0px
   & .sl__slide
    padding: 5px
    padding-top: 10px
    padding-bottom: 30px
  & .sl__slide .slider_news_col
   //height: 245px
   height: 235px
   width: 270px
   & .slider_news_info
    & img
     height: auto
  & .slider_news_data,.slider_news_desc,.slider_news_desc_more
   padding: 20px 19px 0

 .slider_news_data p
  padding: 0 19px

 .slick-list
  padding-left: 5px!important
 
 .slider_news_height_shell
  height: 135px
  & .slider_news_desc
   font-size: 15px
  & .slider_news_desc_more
   font-size: 12px

 .slider_news_head
  margin-bottom: 12px
  & .button_slider,.slider_button
   display: none
  & .slider_news_title
   font-size: 28px

 .section__bonus_program .button_mobile
  height: 43px
  & .button
   padding: 0 19px 0 42px
  & span
   margin-left: 33px

 .section__categori_country
  margin-bottom: 0px
  padding-bottom: 25px

 .container_margin-bottom-m
  margin-bottom: -133px

 .section__bonus_program
  padding-top: 48px
  padding-bottom: 47px
  & .bonus_program_col
   text-align: center
  & .bonus_program_col:nth-child(1)
   width: 280px
  & .bonus_program_title
   font-size: 28px
   margin-bottom: 40px
   &::after
    left: 105px
    bottom: -21px
  & .bonus_program_desc
   font-size: 16px
   line-height: 24px
   margin-bottom: 29px
   & .bonus_program_desc_br_d
    display: none
   & .bonus_program_desc_br_m
    display: block
  & .bonus_program_row
   justify-content: center

 .section__bonus_program
  & .bonus_program_button
   display: none

 .button_mobile
  display: block!important

 .bonus_program_row
  & .bonus_program_number
   font-size: 75px
   line-height: 54px
   padding-bottom: 17.5px
  & .bonus_program_accrued
   font-size: 12px
   padding-bottom: 38.5px

 .russian_love_row
  margin-bottom: 8px

 .section__russian_love
  padding-top: 45px
  padding-bottom: 25.5px
  & .button_slider
   display: none
  & .russian_love_title
   font-size: 28px
   margin-bottom: 17px
  & .russian_love_desc
   font-size: 16px

 .section_order_a_visa
  padding-bottom: 49px
  & .order_a_visa_title
   font-size: 24px
   margin-bottom: 18.5px
   & .order_a_visa_title_br_m
    display: block
  & .order_a_visa_desc
   font-size: 16px
   padding-bottom: 23px
  & .section_order_a_visa_row
   display: none
  & .order_a_visa_button_row
   justify-content: flex-start

 .section__hot_tours
  padding-top: 47px
  padding-bottom: 35px
  & .button_slider,.slider_button
   display: none
  & .hot_tours_head_title
   margin: 0
   & .hot_tours_title
    font-size: 28px
    & .hot_tours_title_br_m
     display: block
  & .hot_tours_row
   margin-bottom: 11px

 .section__subscriptions
  padding-top: 36px

 //Карточки

 .section__russian_love .country_directions
  padding: 0px
  padding-top: 28.5px
  height: auto

 .section__russian_love
  & .general_slide_col
   height: 340px
   & img
    height: 232px

 .section__hot_tours,.section__russian_love
  & .general_slide_col
   width: 270px
  & .sl__slide
   padding: 5px
   padding-top: 20px
   padding-bottom: 30px

 .section__hot_tours
  & .country_directions
   padding-top: 19.5px
   height: auto
 
 .section__hot_tours
  & .hot_tours_slide_col
   height: 322px
   & img
    height: 177px

 .section__russian_love
  & .russian_love_title_slider,.russian_love_way_slider
   padding-left: 20px
   padding-right: 30px

 .section__russian_love
  & .russian_love_title_slider
   font-size: 24px
   padding-bottom: 0.75px
  & .russian_love_way_slider
   font-size: 16px

 .hot_tours_slide_col
  & .russian_love_title_slider
   font-size: 24px
  & .russian_love_way_slider
   font-size: 14px
   padding-bottom: 15.5px

 .hot_tours_slide_col .country_directions_country_container,.hot_tours_slide_col .hot_slide_cost_container
  padding-left: 20px
  padding-right: 30px

 .hot_tours_slide_col .hot_slide_name_data_shell
  margin-bottom: 6px

 .hot_slide_cost_container
  padding-top: 11.5px
  & .cost,.days_nights
   font-size: 14px
   margin-bottom: 3.5px
  & .cost_sense,.number_days_nights
   font-size: 16px

 .hot_tours_slide_col .hot_slide_data
  margin-left: 14px

 //Карточки конец

 footer
  position: relative
  text-align: center
  & .footer_sicial_icons
   position: absolute
   top: 0
   left: 0
   height: 111px
   width: 100%
   align-items: center
   padding: 0
   justify-content: center
   border-bottom: 1px solid #edf3f6
   & li
    margin-right: 16px
    width: 50px
    height: 50px

 .footer_menu_mobile
  & .footer_row
   padding-top: 141.5px
   padding-bottom: 22.5px
   & .footer_col:nth-child(1),.footer_col:nth-child(2),.footer_col:nth-child(3)
    display: none
   & .footer_col:nth-child(4) .footer_address
    margin-top: 19.5px
   & .footer_col .footer_title
    margin-bottom: 10.5px
    font-size: 32px

 .footer .web_studio_info
  font-size: 15px
  line-height: 11px
  
 .footer
  padding-top: 24px
  padding-bottom: 34px

 .footer_button
  justify-content: center
  & .button
   height: 43px
   padding: 0 56px 0 57px

 .section__subscriptions 
  & .official_representatives_row
   padding-top: 0
   flex-wrap: wrap
   padding-bottom: 40.5px
   & .official_representatives_title
    width: auto
   & .official_representatives_col,.partners
    width: 100%
   & .official_representatives_col
    padding: 0

 .order_a_visa_title,.order_a_visa_desc,.section_order_a_visa .visa_button_row
  margin-left: 10px
  margin-right: 10px

 .official_representatives_title,.partners,.russian_love_head_title,.hot_tours_head_title,.slider_news_head
  padding-left: 10px

 .section_order_a_visa .order_a_visa_title,.order_a_visa_desc
  width: 260px

 .section_order_a_visa .visa_button_row
  margin-left: 10px
  height: 45px
  font-size: 15px
  & a
   padding: 0 48px 0 49px

 .official_representatives_col .partners .sl__slide
  padding: 0px
  padding-top: 26px

 //Меню mobile
 .menu-mobile
  width: 320px
  height: 830px

 .menu-mobile__nav-menu-head
  height: 65px

 .menu-mobile__search-form
  width: 254px

 .menu-mobile__search-form_view-decor
  border-bottom: 1px solid #f1f1f1

 .menu-mobile__search-form_view-decor,.menu-mobile__input-search_view-decor
  background-color: #fff

 .menu-mobile__input-search_view-decor
  padding-left: 20px

 .menu-mobile__menu-button
  width: 66px

 .menu-mobile__input-submit
  display: none

 .menu-mobile__li a,.menu-mobile__contact-details_view-decor
  padding-left: 27px

 .menu-mobile__li_view-decor
  font-size: 21px

//Макет 768px (Планшет)
@media(min-width: 768px) and (max-width: 1109px)
 .container
  max-width: 768px

 .section__wrap
  background: url(../images/fone-wrap.png) no-repeat 35% 0%

 header
  padding: 0 28px

 .wrap_main_title
  padding-left: 21px

 .sky_fone_right
  top: 120px

 .sky_fone_left
  bottom: -121px
  left: -317px

 .wrap_logo_col .wrap_logo_disc
  display: block

 .wrap_main_title
  text-align: left
  width: 558px
  margin-top: 217.29px
  & .wrap_title
   line-height: 58px
   font-size: 80px
   margin-bottom: 34.5px
  & .wrap_disc
   font-size: 21px
   margin-bottom: 42.5px
  & .wrap_button
   justify-content: left
   font-size: 18px
   margin-bottom: 272px
   & a
    height: 55px
    padding: 0 41px 0 38px

 .categori_country_row_main
  top: -30px
  margin-bottom: -30px
  & .categori_country_row_2
   flex-direction: column-reverse

 .categori_country_row_2 .col_height_small,.country_row_2_col_2,.country_row_2_col_1,.categori_country_row_1 .col_height
  height: 274px

 .categori_country_desc
  & .categori_country_name
   font-size: 48px
   line-height: 35px
  & .categori_country_direction
   line-height: 13px
   margin-top: 15px

 .tour_type_row
  & .container_tour_type
   position: relative
   & .inner_tour_type
    width: 50%
   & .inner_tour_type:nth-child(2),.inner_tour_type:nth-child(3),.inner_tour_type:nth-child(4)
    border-top: 1px solid #d6e3e9
   & .inner_tour_type:nth-child(2),.inner_tour_type:nth-child(4)
    position: absolute
    right: 0
    border-left: none
   & .inner_tour_type:nth-child(2)
    top: 0
   & .inner_tour_type:nth-child(4)
    bottom: 0
   & .inner_tour_type:nth-child(3),.inner_tour_type:nth-child(4)
    border-top: none

 .tour_type_row .container_tour_type .inner_tour_type
  & a
   padding-left: 47px
  & .span_container
   margin: 0 0 0 34px

 //Новости туризма(карточки)

 .section_slider_news
  & .slider_news_row
   margin-top: 56px
   & .sl
    margin: 0px
  & .container__for_slider
   & .sl__slide
    padding: 12px
    padding-top: 20px
    padding-bottom: 30px
  & .sl__slide .slider_news_col
   //height: 302px
   height: 292px
   width: 330px
   & .slider_news_info
    & img
     height: 137px
  & .slider_news_data
   padding: 24px 30px 0
  & .slider_news_desc,.slider_news_desc_more
   padding: 19px 30px 0
  & .slider_news_data p
   height: 29px
   padding: 0 29px 0 24px
 
 .slider_news_height_shell
  height: 166px
  & .slider_news_desc
   font-size: 17px
  & .slider_news_desc_more
   font-size: 14px

 .slider_news_head
  margin-bottom: 15px
  & .slider_button
   display: none
  & .slider_news_title
   font-size: 28px

 .section__categori_country
  margin-bottom: 0px
  padding-bottom: 49px

 .section__bonus_program
  padding: 70px 0
  & .bonus_program_col
   text-align: center
   width: 100%
   & .bonus_program_title,.bonus_program_desc
    width: 520px
    margin-left: auto
    margin-right: auto
  & .bonus_program_title
   font-size: 32px
   line-height: 31px
   margin-bottom: 33px
   &::after
    left: 230px
    bottom: -20px
  & .bonus_program_desc
   font-size: 16px
   line-height: 24px
   margin-bottom: 43px
  & .bonus_program_row
   justify-content: center

 .section__bonus_program
  & .bonus_program_button
   display: none

 .section__bonus_program .bonus_program_button a
  padding: 0 18px 0 43px

 .button_mobile
  display: block!important
  height: 44px

 .bonus_program_button span
  margin-left: 33px

 .bonus_program_row
  & .bonus_program_number
   font-size: 89px
   line-height: 65px
   padding-bottom: 19.5px
  & .bonus_program_accrued
   font-size: 12px
   padding-bottom: 35.5px

 .russian_love_row
  margin-bottom: 15px

 .section__russian_love
  padding-top: 58px
  padding-bottom: 40px
  & .button_slider
   position: relative
   top: -8px
  & .russian_love_title
   font-size: 32px
   line-height: 18px
   margin-bottom: 18px
  & .russian_love_desc
   font-size: 16px
   line-height: 12px

 .section_order_a_visa
  padding-bottom: 68px
  & .order_a_visa_title
   font-size: 32px
   line-height: 30px
   margin-bottom: 13px
  & .order_a_visa_desc
   font-size: 16px
   line-height: 15px
   padding-bottom: 27px
  & .section_order_a_visa_row
   flex-wrap: wrap
   & .order_a_visa_col 
    width: 720px
    height: 165px
    margin: 10px 24px
    & .container_col_visa
     padding: 42px 39px 0
     & img
      float: left
      padding-top: 9px
      padding-right: 40px
      margin: 0
     & .order_a_visa_col_title
      line-height: 20px
      margin-bottom: 14px

 .order_a_visa_button_row
  justify-content: flex-start
  & .visa_button_row
   height: 56px
   & a
    padding: 0 42px 0 43px
    font-size: 18px

 .container_col_visa .order_a_visa_col_title,.order_a_visa_col_disc
  width: 476px
  float: left

 .section_order_a_visa_row
  margin-bottom: 28px

 .order_a_visa_title,.order_a_visa_desc
  padding-left: 0!important

 .order_a_visa_title,.order_a_visa_desc,.section_order_a_visa .visa_button_row
  margin-left: 24px
  margin-right: 24px

 .official_representatives_title,.partners,.russian_love_head_title,.hot_tours_head_title,.slider_news_head
  padding-left: 24px

 .slick-list
  padding-left: 12px!important

 .section__hot_tours
  padding-top: 62.5px
  padding-bottom: 58px
  & .slider_button
   display: none
  & .hot_tours_head_title
   margin: 0
   & .hot_tours_title
    font-size: 32px
    & .hot_tours_title_br_m
     display: block
  & .hot_tours_row
   margin-bottom: 16px

 .section__subscriptions
  padding-top: 41px

 .tour__sliders_wrap_cont
  margin-left: -12px

 //Карточки

 .section__russian_love .country_directions
  padding: 0px
  padding-top: 30.63px
  height: auto

 .section__russian_love
  & .general_slide_col
   height: 394px
   & img
    height: 283px

 .section__hot_tours,.section__russian_love
  & .general_slide_col
   width: 330px
  & .sl__slide
   padding: 12px
   padding-top: 20px
   padding-bottom: 30px

 .section__hot_tours
  & .country_directions
   padding-top: 19px
   height: auto
 
 .section__hot_tours
  & .hot_tours_slide_col
   height: 390px
   & img
    height: 217px

 .hot_tours_slide_col .hot_prise_notice
  top: 18px
  right: 21px
  padding: 0 14px

 .section__russian_love
  & .russian_love_title_slider,.russian_love_way_slider
   padding-left: 40px
   padding-right: 30px
 
 .russian_love_way_slider
  font-size: 16px

 .hot_tours_slide_col
  & .russian_love_way_slider
   padding-bottom: 18px

 .hot_tours_slide_col .country_directions_country_container,.hot_tours_slide_col .hot_slide_cost_container
  padding-left: 33px
  padding-right: 41px

 .hot_tours_slide_col .hot_slide_name_data_shell
  margin-bottom: 10px
  line-height: 21px

 .hot_slide_cost_container
  & .cost,.days_nights
   font-size: 16px
   margin-bottom: 12px
   line-height: 10px
  & .cost_sense,.number_days_nights
   font-size: 18px
   line-height: 13px

 .hot_tours_slide_col .hot_slide_data
  margin-left: 20px

 //Карточки конец

 footer
  position: relative
  text-align: center
  & .footer_sicial_icons
   position: absolute
   top: 0
   left: 0
   height: 118px
   width: 100%
   align-items: center
   padding: 0
   justify-content: center
   border-bottom: 1px solid #edf3f6
   & li
    margin-right: 16px
    width: 53px
    height: 53px

 .footer_menu_mobile
  & .footer_row
   padding-top: 154px
   padding-bottom: 36px
   & .footer_col:nth-child(1),.footer_col:nth-child(2),.footer_col:nth-child(3)
    display: none
   & .footer_col .footer_title
    margin-bottom: 18px
    font-size: 32px
    line-height: 30px

 .footer .web_studio_info
  font-size: 16px
  line-height: 17px
  
 .footer
  padding-top: 25px
  padding-bottom: 31px

 .footer_button
  justify-content: center
  font-size: 18px
  & .button
   height: 53px
   padding: 0 48px

 .footer_address
  display: none

 .section__subscriptions 
  & .official_representatives_row
   padding-top: 0
   flex-wrap: wrap
   padding-bottom: 41px
   & .official_representatives_title
    width: auto
   & .official_representatives_col,.partners
    width: 100%
   & .official_representatives_col
    padding: 0

 .official_representatives_col .partners .sl__slide
  padding: 0px
  padding-top: 26px