html, body
 margin: 0
 padding: 0

//body
 //min-width: 1110px

h1, h2, h3, h4, h5
 font-weight: normal
 margin: 0
 padding: 0

.container
 width: 1110px
 margin: 0 auto

.row
 display: flex
 flex-wrap: wrap
 width: 100%

.col
 padding-left: 15px
 padding-right: 15px

.wrap_logo_col
 padding: 0

.slider_news_info,.slider_col_container
 position: relative
 & a
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  outline: none

.br_none_mobile
 display: none

a
 text-decoration: none

.wrap_button a,.wrap_logo_col a,.wrap_nav_list a
 color: #fff

.button
 border: 1px solid
 border-radius: 100px

.footer_logo
 font-family: GothamProBlack

.wrap_title
 font-family: ProximaNovaExtrabold

.footer__footer_row,.footer_address,.order_a_visa_col_disc,.bonus_program_desc,.menu-desktop__address_view-decor, body
 font-family: ProximaNovaLight

.slider_news_desc,.tour_type_row,.menu-desktop__menu-ul-list_view-decor,.menu-desktop__request-a-call_view-decor,.footer_title
 font-family: ProximaNovaSemibold

.wrap_logo,.wrap_button,.categori_country_name,.slider_news_title,.bonus_program_title,.bonus_program_number,.russian_love_title,.russian_love_title_slider,.order_a_visa_title,.order_a_visa_col_title,.visa_button_row,.hot_tours_title,.subscriptions_title
 font-family: ProximaNovaBold

.wrap_logo_disc,.wrap_nav_list,.wrap_disc,.categori_country_direction,.bonus_program_button,.slider_button,.slider_news_data,.slider_news_desc_more,.bonus_program_accrued,.russian_love_desc,.russian_love_way_slider,.order_a_visa_desc,.slider_button,.hot_prise_notice,.hot_slide_data,.payment_cost,.days_nights,.cost_sense,.number_days_nights,.subscriptions_desc,.col_subscriptions:nth-child(1) a,.subscriptions_title_cont form input,.official_representatives_title,.footer_button,.menu-desktop__input-search_view-decor,.menu-desktop__call-button_view-decor
 font-family: ProximaNovaRegular

.section__wrap
 background: url(../images/fone-wrap.png) no-repeat
 background-size: cover
 height: 100%
 width: 100%
 overflow: hidden
 position: relative
 & .container
  z-index: 10
  position: relative

header
 height: 90px
 padding: 0 40px 0 50px
 position: relative
 //z-index: 10

.wrap_row_header
 height: inherit
 align-items: center
 justify-content: space-between

.wrap_logo_col a
 display: flex
 align-items: center

.wrap_nav_list
 display: flex
 align-items: center
 font-size: 16px
 & ul
  display: flex
  list-style-type: none
  padding: 0
  margin: 0
 & li:nth-child(1)
  margin-right: 38px
 & li:nth-child(2)
  margin-right: 55px

.wrap_nav_button a
 display: block
 width: 23px
 height: 17px
 position: relative
 & span
  position: absolute
  top: 50%
  left: 50%
  margin-top: -1px
  margin-left: -12px
  width: 23px
  height: 3px
  background-color: #fff
  &::before, &::after
   content: ''
   display: block
   margin-top: -1px
   width: 23px
   height: 3px
   background-color: #fff
  &::before
   transform: translateY(-6px)
  &::after
   transform: translateY(6px)

.wrap_logo
 margin-right: 30px
 font-size: 23.58px
 text-transform: uppercase

.wrap_logo_disc
 font-size: 12px

.wrap_main_title
 display: block
 margin-top: 177px
 color: #fff

.wrap_title
 margin-bottom: 22px
 font-size: 90px
 line-height: 90px

.wrap_disc
 line-height: 24px
 font-size: 24px
 margin-bottom: 42.5px

.wrap_button
 display: flex
 font-size: 18px
 margin-bottom: 240px
 & a
  display: flex
  align-items: center
  background-color: #ff1744
  border-radius: 27px
  padding: 0 39px 0 40px
  height: 55px

.sky_fone_left,.sky_fone_right
 position: absolute

.sky_fone_left
 background: url(../images/sky.png) no-repeat
 width: 621px
 height: 321px
 bottom: 100px
 left: 0

.sky_fone_right
 background: url(../images/sky-right.png) no-repeat
 width: 482px
 height: 460px
 top: 50px
 right: 0

.categori__tour
 background: url(../images/fone-wrap2.png)no-repeat
 height: 50px
 width: 100%
 position: absolute
 background-size: cover
 bottom: 280px

.section__block_fone
 background-color: #263238
 height: 286px
 width: 100%
 position: relative
 //top: -115px

.col_height
 height: 360px

.col_height_small
 height: 165px
 & a
  display: block
  height: 100%

.section__categori_country img
 height: 100%
 width: 100%

.categori_country_row_1,.categori_country_row_2
 & .bonus_program_button
  padding: 0 20px


.categori_country_row_1
 flex-wrap: nowrap
 padding-bottom: 15px
 & .col
  position: relative
 & .country_row_1_col_1
  padding-left: 0
  width: 730px
 & .country_row_1_col_2
  width: 350px
  padding-right: 0

.country_row_1_col_1,.country_row_1_col_2,.country_col_small_1,.country_col_small_2,.country_row_2_col_1,.country_row_2_col_2
 position: relative
 & .shell_country
  position: relative
  height: 100%
  & a, .categori_country_desc
   z-index: 3
  & .button_country_hover
   opacity: 0
   transition: 0.5s
   background: rgba(0, 0, 0, 0.5)
   height: 100%
   width: 100%
   position: absolute
   top: 0
   left: 0
   right: 0
   bottom: 0

.categori_country_desc__a-link
 position: absolute
 top: 0
 left: 0
 right: 0
 bottom: 0

.country_front_shell
 &:hover .button_country_hover
  opacity: 1
  transition: 0.5s

.categori_country_desc
 position: absolute
 color: #fff
 margin-top: 36px
 margin-left: 50px

.country_row_small
 width: auto
 & .col
  position: relative
  padding-left: 0

.country_col_small_1
 padding-bottom: 15px

.country_col_small_2
 padding-top: 15px

.country_row_2_col_1,.country_row_2_col_2,.country_col_small_1,.country_col_small_2
 width: 350px

.country_row_1_col_1 .country_img
 background: url(../images/kitay.jpg)no-repeat
 background-size: cover

.country_row_1_col_2 .country_img
 background: url(../images/vetnam.jpg)no-repeat
 background-size: cover

.country_row_2_col_1 .country_img
 background: url(../images/tailand.jpg)no-repeat
 background-size: cover

.country_row_2_col_2 .country_img
 background: url(../images/tailand.jpg)no-repeat
 background-size: cover

.country_col_small_1 .country_img
 background: url(../images/filipiny.jpg)no-repeat
 background-size: cover

.country_col_small_2 .country_img
 background: url(../images/bali.jpg)no-repeat
 background-size: cover

.shell_country
 position: relative
 & .bonus_program_button
  position: absolute
  left: 44px
  bottom: 41px
  border-color: #fff
  color: #fff
  & span
   border-color: #fff

.bonus_program_button a
 display: flex
 align-items: center
 justify-content: center
 color: #38bbf6
 width: 100%
 height: 100%

.country_row_2_col_2
 padding-right: 0

.categori_country_row_2
 padding-top: 15px

.categori_country_name
 font-size: 36px

.categori_country_direction
 font-size: 16px
 margin-top: 14px

.section__categori_country
 //height: 1270px
 //margin-bottom: -81px
 background-color: #edf3f7
 //position: relative
 //& .container
  //position: relative
  //height: 100%

.categori_country_row_main
 display: flex
 flex-wrap: wrap
 justify-content: center
 position: relative
 top: -138px

.tour_type_row
 display: flex
 justify-content: center
 margin-top: 68px
 & .container_tour_type
  display: flex
  align-items: center
  list-style-type: none
  padding: 0
  margin: 0

.tour_type_row .inner_tour_type
 margin-right: 107px
 & .span_container
  margin: 0 0 0 26px
  float: right
 & img
  width: 45px
  height: auto
 &:nth-child(2)
  margin-right: 82px
 &:nth-child(3)
  margin-right: 72px
 &:nth-child(4)
  margin: 0
 & a
  display: block
  color: #323232
  &:hover .span_border_bottom
   border-bottom: 2px solid #d0d2d4

.slider_news_head_title
 display: flex
 margin-right: 20px

.slider_news_head
 margin-bottom: 15px
 display: flex
 justify-content: space-between
 width: 100%

.slider_button
 white-space: nowrap

.slider_news_row
 //margin-top: 74.5px
 & a
  color: #000

.slider_news_title
 font-size: 36px
 width: auto

.slider_button
 height: 38px
 border-color: #38bbf6 
 & a
  color: #38bbf6
  padding: 0 24px

.slider_button_flex_a a
 display: flex
 align-items: center
 justify-content: center
 height: 100%
 
.slider_news_col
 //width: 350px
 //height: 321px
 height: 311px
 padding-bottom: 10px!important
 background-color: #fff

.news_col_part1
 padding-left: 0

.news_col_part3
 padding-right: 0

.slider_news_info
 background-color: #fff
 height: 100%
 overflow: hidden

.slider_news_info .slider_news_height_img
 height: 145px

.slider_news_height_shell
 position: absolute
 height: 176px
 bottom: 0
 background-color: #fff
 transition: 0.5s

.slider_news_info:hover .slider_news_height_shell
 position: absolute
 height: 100%
 background-color: #fff
 transition: 0.5s

.slider_news_desc_more
 display: none

.slider_news_info:hover .slider_news_desc_more
 display: block

.slider_news_data,.slider_news_desc,.slider_news_desc_more
 padding: 0 40px

.slider_news_data
 padding-top: 29px
 & p
  height: 28px
  padding: 0 20px
  background-color: #eff5fa
  color: #8f999e
  border-radius: 22px
  font-size: 13px
  display: inline-flex
  align-items: center
  justify-content: center
  margin: 0

.slider_news_desc
 font-size: 18px
 padding-top: 16px

.slider_news_desc_more
 padding-top: 31.52px
 font-size: 14px
 line-height: 23px

.section__bonus_program
 padding-top: 109px
 padding-bottom: 109px
 background: url(../images/fone22.png)no-repeat
 background-size: cover
 position: relative
 &:after
  content: ''
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,.5)
  z-index: 2
 & .container
  position: relative
  z-index: 3

.bonus_program_title
 font-size: 36px
 margin-bottom: 50px
 position: relative
 &:after
  position: absolute
  display: block
  width: 60px
  left: 0
  bottom: -24.5px
  content: ""
  border-bottom: 3px solid #38bbf6
  transform: translateX(0)

.bonus_program_desc
 font-size: 18px
 margin-bottom: 27px
 line-height: 26px
 & span
  font-weight: bold
 & .bonus_program_desc_br_m
  display: none

.bonus_program_button
 //width: 145px
 height: 35px
 border-color: #38bbf6 
 font-size: 15px
 display: flex
 align-items: center
 justify-content: center
 color: #38bbf6
 & span
  margin-left: 21px
  content: ''
  width: 5px
  height: 5px
  border: 1px solid #29b6f6
  display: flex
  border-left: none
  border-top: none
  transform: rotate(-45deg)

.section__bonus_program
 & .bonus_program_button
  width: auto
  justify-content: flex-start
  & a
   width: auto
   padding: 0 20px

.button_mobile
 display: none

.bonus_program_accrued
 text-transform: uppercase
 font-size: 15px

.bonus_program_row
 justify-content: space-between
 color: #fff
 & .col
  padding: 0

.bonus_program_number
 font-size: 122.47px
 line-height: 122.47px
 padding-bottom: 26.5px

.bonus_program_col:nth-child(2)
 text-align: center

.country_directions
 height: 119px
 padding-top: 34px
 padding-left: 48px

.general_slide_col
 & a 
  color: #000
 & .slider_col_container
  height: 100%
  background-color: #fff
 & img
  width: 100%
  height: 298px

.general_slide_col
 width: 350px

.russian_love_slider_row
 & .slider_col_container:hover
  background-color: #263238
  color: #fff

.hot_tours_slide_col
 position: relative
 & .hot_prise_notice
  position: absolute
  top: 17px
  right: 31px
 & .hot_slide_data
  height: 21px
  padding: 0 12px
  background-color: #29b6f6
  display: flex
  justify-content: center
  align-items: center
  border-radius: 17px
  margin-left: 25px
  font-size: 13px
 & .hot_slide_name_data_shell
  display: flex
  margin-bottom: 11px
  align-items: center
  color: #fff
 & .slider_col_container
  background-color: #37474f
 & .russian_love_way_slider
  padding-bottom: 23px
  color: #718893
 & .country_directions
  height: 190px
  padding-left: 0
 & .country_directions_country_container,.hot_slide_cost_container
  padding-left: 48px
  padding-right: 48px
 & .hot_slide_cost_container
   display: flex
   justify-content: space-between

.russian_love_title_slider
 font-size: 26px

.russian_love_row
 margin-bottom: 27px
 display: flex
 flex-wrap: nowrap

.sl__slide:focus
 outline: none

.button_arrow
 position: relative
 width: 40px
 height: 40px  
 border: 2px solid #29b6f6
 border-radius: 100%
 background-color: transparent
 outline: none
 & span
  content: ''
  width: 6px
  height: 6px
  border: 2px solid #29b6f6
  display: flex
  border-left: none
  border-top: none
  position: absolute
  left: 13px
  top: 14px
  transform: rotate(-45deg)

.button_slider
 width: auto
 margin-left: 27px
 display: flex
 & .button_arrow
  float: left
 & .button_arrow:nth-child(1)
  margin-right: 7px
  transform: scale(-1, 1)

.button_arrow:hover
 cursor: pointer

.russian_love_row .button_slider
 align-items: flex-start


.russian_love_title
 margin-bottom: 10.5px

.russian_love_title,.hot_tours_title
 font-size: 36px

.russian_love_desc
 font-size: 18px
 color: #687379

.section__russian_love
 background-color: #e6ecf0
 padding-bottom: 56px
 padding-top: 72.5px

.tour__sliders_wrap_row
 justify-content: center

.tour__sliders_wrap_cont
 width: inherit

.container__for_slider
 max-width: 100%!important
 & .sl
  width: 100%

.section_order_a_visa
 background-color: #e6ecf0
 padding-bottom: 82px

.section_order_a_visa
 & .order_a_visa_title
  font-size: 36px
  margin-bottom: 16.5px
  & .order_a_visa_title_br_m
   display: none
 & .order_a_visa_desc
  font-size: 18px
  padding-bottom: 47px
  color: #687379

.section_slider_news
 margin-top: -66px
 padding-bottom: 43px

.order_a_visa_desc_br_mobile
 display: none

.order_a_visa_col_disc
 color: #98a7af

.section_order_a_visa_row
 flex-wrap: nowrap
 margin-bottom: 48px
 & .order_a_visa_col:nth-child(1)
  padding: 0
  margin-left: 0
 & .order_a_visa_col:nth-child(3)
  padding: 0
  margin-right: 0

.order_a_visa_col
 width: 350px
 height: 275px
 & .col_visa_shell
  height: 100%
  background-color: #fff
 box-shadow: 0 3px 22px #d0d0d0
 margin: 15px
 padding: 0

.container_col_visa
 padding-left: 51px
 padding-right: 48px
 padding-top: 43px
 & img
  margin-bottom: 32px
 & .order_a_visa_col_title
  margin-bottom: 19.5px
  font-size: 22px

.order_a_visa_button_row
 justify-content: center
 & .visa_button_row
  //width: 217px
  height: 56px
  border-radius: 100px
  background-color: #29b6f6
  & a
   color: #fff
   padding: 0 66px

.section__hot_tours
 background-color: #263238
 padding-bottom: 80px
 padding-top: 80px

.hot_tours_title
 color: #fff
 & .hot_tours_title_br_m
  display: none

.hot_tours_row
 display: flex
 flex-flow: nowrap
 justify-content: space-between
 margin-bottom: 22px
 & .hot_tours_head_title
  display: flex
  margin-right: 20px
  & .button_slider button
   border-color: #4f6772
   & span
    border-color: #4f6772
 & .slider_button
  border-color: #4f6772
  & a
   color: #4f6772

.hot_prise_notice
 display: flex
 align-items: center
 justify-content: center
 color: #fff
 //width: 110px
 height: 20px
 background-color: #ef3e24
 font-size: 13px
 border-radius: 14px
 padding: 0 16px

.hot_slide_cost_container
 padding-top: 23px
 border-top: 1px solid #455a64
 & .cost,.days_nights
  margin-bottom: 13px
  color: #718893
 & .cost_sense,.number_days_nights
  color: #fff

.cost_sense,.number_days_nights
 font-size: 24px

.section__subscriptions
 background-color: #edf3f7
 padding-top: 62px
 & .subscriptions_row
  justify-content: center
  flex-wrap: nowrap
  & .col_subscriptions:nth-child(1)
   padding: 0
   margin-right: 15px
   & a
    color: #56c1f7
    border-bottom: 1px solid
  & .col_subscriptions:nth-child(2)
   padding: 0
   margin-left: 15px

  .subscriptions-wave-cont
   width: 145px
   height: 145px
   display: flex
   align-items: center
   justify-content: center
   border-radius: 100%
   position: relative
   margin-left: 34px
   & .subscriptions-wave-end,.subscriptions-wave-center
    position: absolute
    border-radius: 100%
   & .subscriptions-wave-end
    width: 145px
    height: 145px
    animation: wave-end 3s
    animation-iteration-count: infinite
    background-color: #e9f8fe
   & .subscriptions-wave-center
    width: 118px
    height: 118px
    background-color: #d5f1fd
    animation: wave-center 3s
    animation-iteration-count: infinite
   & .subscriptions-wave-img
    width: 92px
    height: 92px
    background-color: #29b6f6
    border-radius: 100%
    z-index: 10
    display: flex
    align-items: center
    justify-content: center

.subscriptions-wave-img_animation-mail
 & img
  animation: wave-img-mail 1.5s
  animation-iteration-count: infinite

@keyframes wave-end
 from
  transition: 0.5s
  transform: scale(0.7)
 50%
  transition: 0.5s
  transform: scale(1)
 100%
  transition: 0.5s
  transform: scale(0.7)

@keyframes wave-center
 from
  transition: 0.5s
  transform: scale(0.7)
 50%
  transition: 0.5s
  transform: scale(1)
 to
  transition: 0.5s
  transform: scale(0.7)

@keyframes wave-img-mail
 0%
  transition: 0.5s
  transform: rotate(0deg)
 25%
  transition: 0.5s
  transform: rotate(10deg)
 50%
  transition: 0.5s
  transform: rotate(-10deg)
 75%, 100%
  transition: 0.5s
  transform: rotate(0deg)

.section__subscriptions
 & .subscriptions_title
  font-size: 24px
  margin-bottom: 26px
 & .subscriptions_desc
  font-size: 16px
  margin-bottom: 24px

.col_subscriptions_cont
 width: 540px
 height: 220px
 background-color: #fff
 display: flex
 align-items: center
 & .subscriptions_title_cont
  width: 47.777%
  margin-left: 31px
  //margin-right: 61px
  & form    
   height: 50px
   width: 263px
   border: 1px solid #f0f0f0
   display: flex
   align-items: center
   position: relative
   & input:nth-child(1)
    height: 100%
    width: 100%
    border: none
    padding: 0
    padding: 0 24px
   & input:nth-child(2)
    border: none
    width: 38px
    height: 38px
    border-radius: 100%
    padding: 0
    position: absolute
    right: -19px
   & .arrow
    background: transparent url(../images/strelka.png) no-repeat center
   & input:nth-child(2):hover
    cursor: pointer
   & input[type="submit"]
    background-color: #29b6f6

.col_subscriptions
 box-shadow: 0 3px 22px #d0d0d0

.subscriptions_title_width_mail
 width: 286px!important

.official_representatives_row
 justify-content: space-between
 padding-top: 80px
 padding-bottom: 50px
 color: #7d8a90
 flex-wrap: nowrap
 & .official_representatives_title
  width: 16.666%
  font-size: 18px
  display: flex
  align-items: center

.official_representatives_col,.partners
 width: 870px

.partners
 filter: grayscale(100%)

.footer
 padding-top: 38px
 padding-bottom: 64px
 border-top: 1px solid #edf3f6
 & .footer__footer_row
  justify-content: space-between

.footer
 & .footer_logo
  margin-bottom: 19px
  text-transform: uppercase
  & a
   font-size: 23px
   color: #8e8e8e

.footer_row
 padding-top: 66px
 padding-bottom: 51px
 //justify-content: space-between
 flex-wrap: nowrap
 & .footer_col .footer_title
  font-size: 18px
  margin-bottom: 24px
  & a
   color: #000
 & .footer_col:nth-child(4) .footer_title
  font-size: 22px
  padding-left: 9px
 & .footer_col:nth-child(4) .footer_address
  font-size: 16px
  margin-top: 32px
  line-height: 25px

.footer_col 
 & ul
  list-style-type: none
  padding: 0
  margin: 0
  & li
   margin-bottom: 17px
   & a
    color: #8f98a6
  & li:nth-child(4)
   margin: 0
 &:nth-child(1)
  padding-left: 0
  width: 246px
  //padding-right: 133px
 &:nth-child(2)
  padding-left: 0
  width: 278px
  //padding-right: 115px
 &:nth-child(3)
  padding-left: 0
  width: 270px
  //padding-right: 85px
 &:nth-child(4)
  padding: 0
  width: 309px

.footer_button
 display: flex
 border-color: #29b6f6
 color: #29b6f6
 font-size: 15px
 & .button
  display: flex
  align-items: center
  height: 37px
  padding: 0 32px
  &:hover
   cursor: pointer


.footer_author
 color: #b2bdca
 & span
  text-transform: uppercase

.footer_social_network_col
 display: flex
 & ul
  display: flex
  list-style-type: none
  margin: 0
  padding-left: 62px
  filter: grayscale(100%)
  & li
   margin-right: 13px
   width: 45px
   height: 45px
   & a
    background-color: #eceff1
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    width: 100%
  & li a:hover
   background-color: #5269f6              
  & li:nth-child(4)
   margin: 0

.footer_social_network_col
 & .vkontakte,.facebook,.odnoklassniki,.twitter
  fill: #a4b3bb
  cursor: pointer
 & .svg_icon
  width: 20px
  height: 20px
  padding: 13px
 & .svg_icon:hover
  fill: #fff

.footer_social_network_col
 & a,.svg_icon
  transition: 0.5s

.web_studio_info
 & .title
  color: #a3b0c1
  margin-bottom: 14px
 & .author_name
  color: #40494d
  float: right

.slider_news_row .sl
 margin-left: -15px
 width: 1140px

.sl__slide
 padding: 15px
 padding-top: 20px
 padding-bottom: 30px

.slider_news_col,.general_slide_col
 padding: 0
 box-shadow: 0 3px 22px #d0d0d0

.hot_tours_slider_row 
 & .slider_news_col,.general_slide_col
  box-shadow: none

//Меню desktop
.menu-desktop
 width: 438px
 height: 881px
 position: absolute
 top: 0
 right: 0
 z-index: 100

.menu-desktop_view-decor
 background-color: #fff

.menu-desktop_js
 transition: 0.3s
 transform-origin: right center
 transform: scaleX(0)
 opacity: 0

.menu-desktop_js-active
 transform: scaleX(1)
 opacity: 1

.menu-desktop__nav-menu-head
 height: 75px
 display: flex

.menu-desktop__search-form
 width: 362px
 display: flex
 align-items: center

.menu-desktop__search-form_view-decor,.menu-desktop__input-search_view-decor
 background-color: #eaf3f7

.menu-desktop__input-submit
 height: 100%
 width: 95px

.menu-desktop__input-submit_view-decor
 background: url(../images/search.png) no-repeat 75% 50%
 border: none
 padding: 0
 &:hover
  cursor: pointer

.menu-desktop__input-search
 height: 100%
 width: 100%

.menu-desktop__input-search_view-decor
 outline: none
 border: none
 padding: 0
 color: #9ba3af

.menu-desktop__menu-button
 width: 75px
 position: relative
 display: flex
 align-items: center
 justify-content: center

.menu-desktop__menu-button_view-decor
 background-color: #273238

.menu-desktop__menu-button-icon,
.menu-desktop__menu-button-icon:before,.menu-desktop__menu-button-icon:after
 width: 17px
 height: 2px
 background-color: #fff
 position: absolute

.menu-desktop__menu-button-icon:before,.menu-desktop__menu-button-icon:after
 content: ''
 display: block

.menu-desktop__menu-button-icon
 height: 0

.menu-desktop__menu-button-icon:before
 transform: translateY(-5px)
 transform: rotate(45deg)

.menu-desktop__menu-button-icon:after
 transform: translateY(5px)
 transform: rotate(-45deg)

.menu-desktop__menu-ul-list_view-decor
 list-style-type: none
 margin: 0
 padding: 0

.menu-desktop__li
 height: 74px
 & a
  height: 100%
  width: auto
  display: flex
  align-items: center
  padding-left: 42px
  color: #000
 &:nth-child(1), &:nth-child(5)
  position: relative

.menu-desktop__li_view-decor
 border-bottom: 1px solid #f1f1f1
 font-size: 24px

.menu-desktop__contact-details_view-decor
 padding-left: 47px

.menu-desktop__local-address_view-decor
 padding-top: 46px

.menu-desktop__request-a-call_view-decor
 font-size: 24px
 padding-bottom: 14px
 & a
  color: #000

.menu-desktop__call-button
 display: inline-flex
 align-items: center
 height: 36px

.menu-desktop__call-button_view-decor
 border: 1px solid #29b6f6
 border-radius: 100px
 padding: 0 30px
 color: #29b6f6
 &:hover
  cursor: pointer

.menu-desktop__address_view-decor
 font-size: 16px
 padding-top: 36px
 padding-bottom: 24px
 color: #9ba3af

.menu-desktop__social-network .menu-desktop__sicial-icons_view-decor
 padding: 0

.menu-desktop__arrow
 top: 37px

.menu-desktop__arrow,
.menu-desktop__arrow:before,.menu-desktop__arrow:after
 width: 18px
 height: 2px
 background-color: #d9e2e7
 position: absolute
 right: 30px

.menu-desktop__arrow:before,.menu-desktop__arrow:after
 content: ''
 margin-right: -30px
 display: block
 width: 7px

.menu-desktop__arrow:before
 transform: translateY(-5px)
 transform: rotate(45deg)
 transform-origin: right bottom

.menu-desktop__arrow:after
 transform: translateY(5px)
 transform: rotate(-45deg)
 transform-origin: right top
